# Ignore directory
__pycache__/
Include/
Lib/
Scripts/
share/

# Ignore specific file extensions
pyvenv.cfg


# Ignore specific folders
twitter/images/
weibo/visual_feature_weibo/
twitter/images_test
twitter/images_train
twitter/region_features
twitter/visual_feature

#Ignore files
faltu.py